*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100%;
}

a {
	text-decoration: none;
}

img {
	max-height: 100%;
}

button {
	border: none;
	cursor: pointer;
}
